.footer {
  background: $color-mone-shaft;
  border-top: 6px solid $color-goldenrod;
  position: relative;
  font-size: 14px;
  color: $color-alto;

  &__col {
    @include col(1, 3, $align: top);
    text-align: center;

    .small_text {
      padding: 0 12px;
      margin-bottom: 16px;
    }
  }

  &__top {
    border-bottom: 1px solid $color-abbey;
    padding: 50px 0;
  }

  &__bottom {
    @extend %clearfix;
    padding: 25px 0;

    .link {
      font-size: 12px;
      text-decoration: underline;
      padding-left: 8px;
      float: right;
    }

    .small_text {
      float: left;
    }
  }

  .link {
    color: $color-alto;
    text-decoration: none;
    transition: all .2s $transition-action;

    &:hover {
      color: $color-jumbo;
    }
  }

  .link-logo {
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto 16px;
  }

  .title {
    font: $font-bold;
    font-size: 18px;
    text-transform: uppercase;
    color: $color-alto;
    margin-bottom: 28px;
  }

  .info-list {
    .link {
      font: $font-reg;
      font-size: 12px;
      line-height: 1.8;
    }
  }

  .subscribe {
    @extend %clearfix;

    .input-field {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .label {
      display: inline-block;
      width: 170px;
      position: relative;
    }

    .btn-subscribe {
      background: $color-alto;
      display: inline-block;
      position: relative;
      width: 50px;
      height: 22px;
      color: $color-mone-shaft;
      transition: .2s $transition-action;

      &:hover {
        background: $color-jumbo;
      }
    }
  }
}

@include sticky-footer(320px);
