.form-default {
  @extend %clearfix;

  .form-default {

    &__group {
      &--justify {
        justify-content: space-between;
        padding: 0;
        margin-bottom: 15px;
      }

      &--nopadding {
        margin: 0;
      }
    }
  }

  .input-field {
    display: inline-block;
    width: 100%;

    &.input-field-full {
      width: 100%;
    }

    &.input-field-65 {
      width: 65%;
    }

    &.input-field-30 {
      width: 30%;
    }

    &.input-field-45 {
      width: 45%;
    }

    &.input-field-15 {
      width: 15%;
    }

    &.field-error {
      border-color: $color-persimmon;
    }
  }

  .input {
    color: $color-mine-shaft;

    &:focus {
      .input-placeholder {
        display: inline-block;
      }
      .clear-button {
        display: block;
      }
    }

    &.flag-error {
      border-color: $color-persimmon;
    }
  }

  .label {
    display: inline-block;
    width: 200px;
    position: relative;
    text-align: left;

    .error-text {
      display: inline-block;
      color: $color-persimmon;
      margin-top: 6px;
      font-size: 11px;
    }

    .input-placeholder {
      position: absolute;
      display: none;
      top: -4px;
      left: 7px;
      padding: 0 7px;
      height: 12px;
      background: transparent;
      color: $color-alto;
      z-index: 1;
    }

    .clear-button {
      display: none;
      font: $font-reg;
      font-size: 12px;
      position: absolute;
      top: 2px;
      right: 6px;
      text-align: center;
      width: 14px;
      height: 14px;
      line-height: 12px;
      border-radius: 50%;
      border: 1px solid $color-silver;
      color: $color-silver;
      transform: rotate(45deg);
      cursor: pointer;

      &.flag-active {
        display: inline-block;
      }
    }
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .input-file + .label-file {
    letter-spacing: -1px;
    white-space: nowrap;
    word-spacing: 3px;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color .2s $transition-action;

    &:hover {
      background-color: #eee;
    }
  }

  .input-file:focus + label,
  .input-file + label:hover {
      background-color: tomato;
  }

  .error-text {
    display: none;
    color: $color-persimmon;
    margin-top: 4px;
    font-size: 10px;

    &.error-active {
      display: inline-block;
    }
  }
}
