// This is mixin which you will include in parent
// of columns. It kills default margin of inline-block
// elements.
@mixin row() {
  font-size: 0;
}

.skin {
  @include row;
  position: relative;
  margin: 0 auto;
}

.skin-center {
  width: 1180px;
  padding: 0 16px;
}

// This is column mixins.
@mixin col ($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    padding-left: if($first, 0, $gap);
    padding-right: if($last, 0, $gap);

    @media only screen and (min-width: 768px) {
            width: percentage($col/$sum);
            vertical-align: $align;
    }

    &.fluid { width: percentage($col/$sum); }
}

// Use
// .parent .some-div {
//   background: #eee;
//   @include col(1, 3, $align: middle);
// }
