.header {
  padding: 20px;

  &--primary {
    display: flex;
    background-color: transparent;
    z-index: 2;
  }

  .btn-menu {
    color: $color-mine-shaft;
  }

  &__inner {
    padding: 0 36px;
    position: relative;
    justify-content: space-between;
  }

  &__logo {
    .logo-text,
    .logo-subtext {
      font-family: 'Roboto';
      font-size: 1.425rem;
      letter-spacing: .225rem;
      line-height: 1;
      font-weight: 700;
      color: $color-mine-shaft;
    }

    .logo-subtext {
      display: block;
      font-size: .625rem;
      letter-spacing: .4rem;
      font-weight: 400;
    }
  }

  &__nav {
  }

  // mobile
  @include respond-to($phone) {
  }
}

.drop-menu {
  position: relative;

  .top-nav {
    padding-top: 40px;

    &__title {
      font-family: 'MullerMedium', 'PT Sans', Helvetica, Arial, sans-serif;;
      font-size: .8125rem;
      letter-spacing: .3rem;
      margin: 0 0 37px 40px;
    }

    li {
      padding: 0 0 0 40px;
      position: relative;
      height: 30px;
      line-height: 30px;
      margin: 0 0 5px;

      &:first-child {
        margin: 0 0 30px;
      }
    }

    .link {
      font-size: .625rem;
      letter-spacing: .2rem;
      color: $color-silver;
      margin: 0 0 0 40px;
      padding: 0;

      &:hover {
        color: $color-white;
      }

      &--email {
        font-family: 'MullerMedium', 'PT Sans', Helvetica, Arial, sans-serif;;
        color: $color-gallery;
      }
    }
  }
}
