*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, textarea, button, a {
  outline: none;
}

body {
  font-family: 'Roboto', 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  margin-bottom: 110px;
}

img {
  height: auto;
  max-width: 100%;
  width: auto\9;

  &.reponsive-img {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    min-height: 100%;
    min-width: 100%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background: #c4c4c4;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #777;

  &:hover {
    background: #777;
  }
}

// GUI

.btn {
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    display: inline-block;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    text-align: center;
}

.link-btn {
  width: 50%;
  max-width: 180px;
  height: 40px;
  margin: auto;
  margin-bottom: 36px;
  line-height: 40px;
  cursor: pointer;
  color: $color-mone-shaft;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 2px;
  outline: none;

  svg {
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: $color-mirage;
    stroke-width: 1;
    stroke-dasharray: 422, 0;
  }

  &:hover {
    letter-spacing: 2.5px;

    rect {
      stroke-width: 2;
      stroke-dasharray: 30, 315;
      stroke-dashoffset: 48;
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.link-arrow {
  display: inline-block;
  float: right;
  height: 100%;
  padding: 0 16px;
  border-left: 1px solid $color-mirage;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 2;

  &.flag-active {
    display: block;
  }
}
