@mixin background-retina($normal, $retina, $contain: false) {
  background-image: image-url($normal);

  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
    background-image: image-url($retina)
  }

  @if ($contain == true) {
    background-size: contain
  } @else {
    background-size: (image-width($retina) / 2) (image-height($retina) / 2);
  }
}

// Use
// @include background-retina('path-to-normal-img', 'path-to-retina-img');

%clearfix {
  zoom: 1;

  &:before,
  &:after {
      display: table;
      content: "";
  }

  &:after {
      clear: both;
  }
}
// Use
// @extend %clearfix;


// Media Query
$phone: '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),
          (-o-min-device-pixel-ratio: 3/2),
          (-webkit-min-device-pixel-ratio: 1.5),
          (min-device-pixel-ratio: 1.5),
          (min-resolution: 144dpi),
          (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

// Use
// .header {
//     @include respond-to($phone) {
  //       background-color: tomato;
//     }
//     @include respond-to($tablet-landscape) {
//       background-color: aquamarine);
//     }
//     @include respond-to($large-desktop) {
//       background-color: lightgreen;
//     }
// }

// Update 03.06.17
@mixin justify {
  text-align: justify;

  &:before {
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  > * {
    display: inline-block;
    position: relative;
    top: 1.2em;
  }
}

// Update 09.07.17
@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $container-selector: unquote("#container"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
  	margin: 0px;
  	padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    }
  }
  #{$footer-selector} {
    height: $footer-height;
  }
}

// Update 16.11.17
@mixin truncate($width: 300px) {
  max-width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
