.popup {
  display: none;
  background: rgba($color-mine-shaft, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 100;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    letter-spacing: .225rem;
    margin: 0 0 40px;
  }
}

.popup-wrapper {
  position: absolute;;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 85vh;
  background: $color-white;
  padding: 20px;
  overflow: auto;
  transform: translate(-50%, -50%);

  &__content {
    height: 100%;
    margin-top: 40px;
  }

  .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
  }

  // mobile
  @include respond-to($phone) {
    min-width: 320px;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    transform: translate(0, 0);
  }
}
