// paths
$url-to-img: '../../assets/img/';
$gif-spinner: '../../assets/img/spinner.gif';

// colors
$color-black: #1B1404;
$color-white: #fff;

$color-abbey: #4C4F56;
$color-mirage: #1C172E;
$color-eastbay: #4A3D7A;
$color-baltic: #2A292E;
$color-jumbo: #716E7A;
$color-alto: #D1D1D1;
$color-mine-shaft: #303030;

$color-silver: #c4c4c4;
$color-goldenrod: #f9ce68;
$color-persimmon: #ff6347;
$color-gallery: #eeeeee;

// animation
$transition-ms: .2ms;
$transition-action: cubic-bezier(0.25, 0.46, 0.45, 0.94);
