@mixin background-retina($normal, $retina, $contain: false) {
  background-image: image-url($normal);

  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
    background-image: image-url($retina)
  }

  @if ($contain == true) {
    background-size: contain
  } @else {
    background-size: (image-width($retina) / 2) (image-height($retina) / 2);
  }
}

%clearfix {
  zoom: 1;

  &:before,
  &:after {
      display: table;
      content: "";
  }

  &:after {
      clear: both;
  }
}


%col-centered {
  float: none !important;
  margin: auto;
}
