@mixin background-retina($normal, $retina, $contain: false) {
  background-image: image-url($normal);

  @media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3/2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) {
    background-image: image-url($retina)
  }

  @if ($contain == true) {
    background-size: contain
  } @else {
    background-size: (image-width($retina) / 2) (image-height($retina) / 2);
  }
}

%clearfix {
  zoom: 1;

  &:before,
  &:after {
      display: table;
      content: "";
  }

  &:after {
      clear: both;
  }
}


// Media Query
$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: '(min--moz-device-pixel-ratio: 1.5),
          (-o-min-device-pixel-ratio: 3/2),
          (-webkit-min-device-pixel-ratio: 1.5),
          (min-device-pixel-ratio: 1.5),
          (min-resolution: 144dpi),
          (min-resolution: 1.5dppx)';

@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

// Use
// .header {
//     @include respond-to($phone) {
  //       background-color: tomato;
//     }
//     @include respond-to($tablet-landscape) {
//       background-color: aquamarine);
//     }
//     @include respond-to($large-desktop) {
//       background-color: lightgreen;
//     }
// }
