%retina {
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    @content;
  }
}

%clearfix {
  zoom: 1;

  &:before,
  &:after {
      display: table;
      content: "";
  }

  &:after {
      clear: both;
  }
}
