$default-font-size: 14px;

$default-transition-duration: 0.4s;
$default-transition-function: ease-out;

@import "lib/normalize";

// Common
@import "mixins";
@import "fonts";
@import "grid";
@import "popup";
@import "header";
@import "footer";
@import "main";

// Pages
// @import "index";
// @import "index";
// @import "index";
// @import "index";
// @import "index";
// @import "index";
