.footer {
  background: $color-mine-shaft;
  position: relative;
  color: $color-alto;

  &__col {
    @include col(1, 3, $align: top);
  }

  &__top {
  }

  &__bottom {
    @extend %clearfix;
    font-size: 14px;
  }

  // mobile
  @include respond-to($phone) {
  }

  // tablet-landscape
  @include respond-to($tablet-portrait) {
  }
}

@include sticky-footer(326px);

// mobile
@include respond-to($phone) {
}

// tablet-landscape
@include respond-to($tablet-portrait) {
}
