footer.footer#footer
  .skin.skin-center
    .footer__inner
      .footer__left
      .footer__right
        span.small_text &copy 2017 Все права защищены.
        a.link(href="#") Политика конфиденциальности 
