footer.footer#footer
  .skin.skin-center
    .footer__inner
      .footer__top
        .footer__item
        .footer__item
        .footer__item
      .footer__bottom
        span.small_text &copy 2017 <b>name_company</b>
