header.header
  .header__top
    span.small_text Бесплатная доставка 1 класса
  .skin.skin-center
    .header__inner
      .header__bottom
        .header__logo
          a.link.link-logo(href="#")
            img.img-logo(src="../assets/img/logo.png", alt="alt")
  .header__menu
    button.btn.btn-menu.js-tab-trigger.flag-active(data-rel="nav") Меню
      i.fa.fa-reorder
    .menu
      nav.menu__nav.js-tab-target(data-rel="nav")
        li: a.link(href="/") часы
        li: a.link(href="/") преимущества
        li: a.link(href="/") доставка
        li: a.link(href="/") отзывы
        li: a.link(href="/") обслуживание клиентов
