header.header
  .skin.skin-center
    .header__inner
      .header__top
      .header__bottom
    .header__menu
      button.btn.btn-menu.js-tab-trigger.flag-active(data-rel="nav") menu
        i.fa.fa-reorder
      .menu
        nav.menu__nav.js-tab-target(data-rel="nav")
          li: a.link(href="/") link
          li: a.link(href="/") link
          li: a.link(href="/") link
          li: a.link(href="/") link
          li: a.link(href="/") link
