header.header
  .skin
    .header__inner
      .some-div
        a(href="#"): img(src="../../media/img/logo.png", alt="logo")
      .some-div
        ul.menu
          li.menu-item.current-menu-item
            a(href="#") Главная 
            i.fa.fa-vk
          li.menu-item
            a(href="#") Конкурсы
            i.fa.fa-facebook
          li.menu-item
            a(href="#") Мероприятия
            i.fa.fa-instagram
          li.menu-item
            a(href="#") Партнеры
            i.fa.fa-cart
          li.menu-item
            a(href="#") организаторы
      .some-div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
