header.header#header
  .header__top

  .skin.skin-center
    .header__inner
      .header__bottom
        .header__logo
          a.link.link-logo(href="./")
            img.img-logo(src="../assets/img/logo2.png", alt="alt")
        menu.menu
          nav.menu__nav(role="menu")
            li: a.link.js-popup-trigger(href="/" data-rel="popup-1") popup-1
            li: a.link.js-popup-trigger(href="/" data-rel="popup-2") popup-2
            li: a.link(href="/") Доставка
            li: a.link(href="/") отзывы
