header.header
  .skin.skin-center
    .header__inner
      .header__bottom
        .header__logo
          a.link.link-logo(href="./")
            img.img-logo(src="../assets/img/logo2.png", alt="alt")
