footer.footer
  .skin.skin-center
    .footer__inner
      .some-div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .some-div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .some-div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
