footer.footer
  .row
    .footer__inner.skin
      .copy.col.col_4
        span &copy 2017 mrs.group
      .footer__nav.col.col_6
        ul.menu
          li.menu-item
            a(href="#") Главная
          li.menu-item
            a(href="#") Конкурсы
          li.menu-item
            a(href="#") Мероприятия
          li.menu-item
            a(href="#") Партнеры
          li.menu-item
            a(href="#") организаторы
      .footer__social.col.col_2
        ul.social-list
          li
            a(href="#")
              i.fa.fa-facebook
          li
            a(href="#")
              i.fa.fa-vk
          li
            a(href="#")
              i.fa.fa-instagram
