header.header.skin
  .row
    .header__inner
        .header__logo.col.col_3
          a(href="#"): img(src="../../media/img/logo.png", alt="logo")
        nav.header__nav.col.col_7
          ul.menu
            li.menu-item.current-menu-item
              a(href="#") Главная
            li.menu-item
              a(href="#") Конкурсы
            li.menu-item
              a(href="#") Мероприятия
            li.menu-item
              a(href="#") Партнеры
            li.menu-item
              a(href="#") организаторы
        .header__social.col.col_2
          ul.social-list
            li
              a(href="#")
                i.fa.fa-facebook
            li
              a(href="#")
                i.fa.fa-vk
            li
              a(href="#")
                i.fa.fa-instagram
