header.header
  .skin
    .header__inner
      .some-div
        a(href="#"): img(src="../../media/img/logo.png", alt="logo")
      .some-div
        ul.menu
          li.menu-item.current-menu-item
            a(href="#") Главная
          li.menu-item
            a(href="#") Конкурсы
          li.menu-item
            a(href="#") Мероприятия
          li.menu-item
            a(href="#") Партнеры
          li.menu-item
            a(href="#") организаторы
      .some-div
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
