.subscribe
  .wrap-form-subscribe
    form.form-subscribe.js-form-subscribe(novalidate)
      input(type="hidden" name="admin_email" value="")
      .input-field
        label.label.flag-important(for='email')
          input.input.js-input-form.flag-important(type="email", name="email", placeholder="E-mail", title="Имя пользователя")
          span.error-text(data-error="email")
          span.error-text.js-error-form
          span.input-placeholder Ваше имя *
          span.clear-button.js-form-input-clear +
          
        button.btn.btn-primary.btn-subscribe.js-subscribe.js-submit-form(type="submit") Отправить
