doctype html
html
    head
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0")
        meta(http-equiv="Content-type" content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(content="" name="keywords")
        meta(content="" name="description")
        meta(name="robots" content="noindex")
        meta(name="format-detection" content="telephone=no")
        meta(name="mobile-web-app-capable" content="yes")
        block title
            title Default Name
        link(rel="stylesheet", href="assets/css/style.css")
        link(rel="stylesheet", href="assets/fonts/fonts.css")
        //- <!--[if gt IE 7]>
        //- link(rel="stylesheet", href="css/ie8.css")
        //- <![endif]-->
        <!--[if IE 9]>
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
        script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
        <![endif]-->

    body
        block content
        block footer
        script(src="assets/js/main.js")
