.catalog {
  position: relative;
  padding: 100px 0;
  margin-bottom: 50px;

  &__inner {
    @include justify;
    width: 83%;
    margin: auto;
  }

  &__item {
    background: $color-white;
    border: 1px solid $color-mone-shaft;
    text-align: center;
    width: 33.33%;

    &:first-child() {
      border-right: 1px solid transparent;
    }

    &:last-child {
      border-left: 1px solid transparent;
    }

    // &:nth-child(even) {
    //   background: $color-silver;
    // }
    //
    // &:nth-child(odd) {
    //   background: $color-alto;
    // }

    &.item_top {
      text-align: center;

      &:before {
        content: 'ХИТ';
        border: 4px double $color-mone-shaft;
        box-shadow: 0 1px 2px 1px rgba($color-mone-shaft, .5);
        position: absolute;
        top: -5px;
        left: 50%;
        margin-left: -27px;
        width: 54px;
        padding: 4px 8px;
        background: $color-goldenrod;
        color: $color-mone-shaft;
        font: $font-bold;
        font-size: 15px;
        z-index: 1;
      }
    }
  }

  &__item-link {
    box-shadow: 0 5px 9px 0 rgba($color-mone-shaft, 0);
    display: block;
    padding: 64px 16px;
    position: relative;
    transition: 1s $transition-action;

    &:hover {
      box-shadow: 0 5px 9px 0 rgba($color-mone-shaft, .5);

      .catalog__img {
        transform: scale(1.02);
      }
    }
  }

  &__title {
    font: $font-bold;
    font-size: 20px;
    line-height: 1.5;
    color: $color-mone-shaft;
    display: inline-block;
    padding: 2px 0;
  }

  &__sub-title {
    display: inline-block;
    width: 100%;
    font: $font-reg;
    font-size: 14px;
    color: $color-baltic;
    text-transform: uppercase;
  }

  &__img {
    width: 250px;
    margin: 42px auto 0;
    transition: .5s $transition-action;
  }
}
