extends template/template.pug

block title
  title Форма Обратной связи
  
//- block script-before-head-end
//-   script(src="assets/js/separate/form_subscribe.build.js")
  
block content
  .wrapper#wrapper
    .container#container
      include template/_header-clean
      
      section.subscribe
        .skin.skin-center
          .wrap-form-subscribe
            form.form-subscribe.js-form-subscribe(novalidate)
              //- .input-item
              //-   input(type="email" name="email" id="email" class="js-input-form" placeholder="Email" required)
              //- span.error-text(data-error="email")
              //- span.error-text.js-error-form
              //- span.success-text.js-success-form
              //-   
              //- button.btn-submit.js-submit-form Submit
              
              input(type="hidden" name="admin_email" value="")
              .input-field
                label.label.flag-important(for='email')
                  input.input.js-input-form.flag-important(type="email", name="email", placeholder="E-mail", title="Имя пользователя")
                  span.error-text(data-error="email")
                  span.error-text.js-error-form
                  span.input-placeholder Ваше имя *
                  span.clear-button.js-form-input-clear +
                  
                button.btn.btn-primary.btn-subscribe.js-subscribe.js-submit-form(type="submit"): i.fa.fa-send
      
block footer
  include template/_footer
  
block script-before-body-end
  script(src="assets/js/separate/form_subscribe.build.js")
