extends template/template.pug

block title
  title Tommy Hilfiger
  
block content
  .wrapper#wrapper
    .container#container
      include template/_header
      //- section.block
      //-   .skin.skin-center
      //-     .block__inner
      //-       .block__slider
      //-           .tracker.slider
      //-               .item
      //-               .item
      //-               .item
      
      //- section.block
      //-   .skin.skin-center
      //-     .block__inner
      //-       .block__item
      //-       .block__item
      //-       .block__item
      
      //- section.block
      //-   .skin.skin-center
      //-     .block__inner
      //-       form(id="form-subscribe", method="POST", action="#")
      //-         .input-field
      //-           input.input(type='text', name='firstname', placeholder='Введите ваше имя')
      //-           label.label(for='firstname') 
      //-         .input-field
      //-           input.input(type='email', name='firstname', placeholder='E-mail')
      //-           label.label(for='email') 
            
            
block footer
  include template/_footer
