extends template/template.pug

block title
  title

block css
  link(rel="stylesheet", href="assets/css/main.css")
    
block content
  body.index-page
    .wrapper#wrapper
      .container#container
        include template/_header

        //- Slider
        section.block
          .skin.skin-center
            .block__inner
              .block__slider
                .tracker.slider
                  .item
                    img(src="http://lorempixel.com/400/200/sports" alt="slide picture")
                  .item
                    img(src="http://lorempixel.com/400/200/food" alt="slide picture")
                  .item
                    img(src="http://lorempixel.com/400/200/cats" alt="slide picture")
                  .item
                    img(src="http://lorempixel.com/400/200/fashion" alt="slide picture")
                  .item
                    img(src="http://lorempixel.com/400/200/transport" alt="slide picture")
                  .item
                    img(src="http://lorempixel.com/400/200/nature" alt="slide picture")

    .popup.js-popup-overlay.js-popup-box.js-popup-target(data-rel="popup-1")
      .popup-inside
        span.js-popup-close close
        .popup-inside__title
          title
        .popup-inside__content
          content

    .popup.js-popup-overlay.js-popup-box.js-popup-target(data-rel="popup-2")
      .popup-inside
        span.js-popup-close close
        .popup-inside__title
          title
        .popup-inside__content
          content

block footer
  include template/_footer

block append script-before-body-end
