extends template/template.pug

block title
  title Политика конфиденциальности

block content
  .wrapper#wrapper
    .container#container
      include template/_header-clean
      
      section.policy-info
        .skin.skin-center
          h1.title Политика конфиденциальности
          p.small_text
            | Наш интернет-магазин уважительно относится к правам клиента. Соблюдается строгая конфиденциальность при оформлении заказа.
            | Сведения надёжно сохраняются и защищены от передачи. Согласием на обработку данных клиента исключительно с целью оказания
            | услуг является размещение заказа на сайте.
          p.small_text 
            | К персональным данным относится личная информация о клиенте: домашний адрес;
            | имя, фамилия, отчество, сведения о рождении; имущественное, семейное положение; личные контакты (телефон, электронная почта)
            | и прочие сведения, которые перечислены в Законе РФ № 152-ФЗ «О персональных данных» от 27 июля 2006 г. Клиент вправе отказаться
            | от обработки персональных данных. Нами в данном случае гарантируется удаление с сайта всех персональных данных в трёхдневный
            | срок в рабочее время. Подобный отказ клиент может оформить простым электронным письмом на адрес, указанный на странице нашего сайта.
      
      
block footer
  include template/_footer
