extends template/template.pug

block title
  title Title

block content
  body.same-page
    .wrapper#wrapper
      .container#container
        include template/_header

        //- Slider
        section.block
          .skin.skin-center
            .block__inner
              .block__slider
                .tracker.slider
                  .item
                  .item
                  .item

        //- 4 column
        section.block
          .skin.skin-center
            .block__inner
              .block__item
              .block__item
              .block__item
              .block__item

    .popup.js-popup-overlay.js-popup-box.js-popup-target.display-none(data-rel="popup-1")
      .popup-wrapper
        span.btn-close.js-popup-close
          i.fa.fa-close
        .popup-wrapper__content
    .popup.js-popup-overlay.js-popup-box.js-popup-target.display-none(data-rel="popup-2")
      .popup-wrapper
        span.btn-close.js-popup-close
          i.fa.fa-close
        .popup-wrapper__content


block footer
  include template/_footer

block script-before-body-end
  //- script(src="assets/js/same.build.js")
